repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml

-   repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
    -   id: isort

-   repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
    -   id: black

-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
